@import '~highlight.js/styles/a11y-dark.css';
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/source-sans-pro-regular.woff2') format('woff2'),
  url('/assets/fonts/source-sans-pro-regular.woff') format('woff');
}


html,body {
  font-family: 'Source Sans Pro', serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: #f8f9f9;
  p, details, li {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  code {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 1px solid rgb(28, 30, 33);
  }

  code {
    background: rgb(235, 237, 240);
    color: rgb(28, 30, 33);
    border-radius: 4px;
    padding: 4px;
    font-family: 'Source Sans Pro', serif;
  }
}
